<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span [routerLink]="['/']">GymBrain</span>
    <span class="toolbar-spacer"></span>
    <mat-icon *ngIf="!isLogin" class="icon-spacer" [routerLink]="['/register']" aria-hidden="false" aria-label="Example home icon">person_add</mat-icon>
    <mat-icon *ngIf="!isLogin" class="icon-spacer" [routerLink]="['/login']" aria-hidden="false" aria-label="Example home icon">person</mat-icon>
    <mat-icon *ngIf="isLogin" class="icon-spacer" (click)="logout()" aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
