.container {
  position: relative;
  text-align: center;
  color: white;
}

.back-ground {
  width: 100%;
  height: 450px;
}

.text-over-image-1 {
  position: absolute;
  top: 50%;
  right: 10%;
}

.text-over-image-2 {
  position: absolute;
  top: 60%;
  right: 10%;
}

.text-over-image-3 {
  position: absolute;
  top: 70%;
  right: 10%;
}
